@import "tailwindcss";

@theme {
  --background: #0a0a0a;
  --foreground: #fafafa;

  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-card: #121212;

  --color-primary: #e8c468;
  --color-secondary: #171717;

  --color-muted-foreground: #8f8f8f;
  --color-border: #262626;
  --color-destructive: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;

    --muted: oklch(0.96 0 0);
    --muted-foreground: oklch(0.5 0 0);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  width: 100%;
  position: relative;
  /* Evita que el scroll horizontal se active en móviles */
  touch-action: pan-y;
}

.brands-wrapper {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  align-items: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop {
  animation: loop 20s linear infinite;
}

.animate-loop:hover {
  animation-play-state: paused;
}

/* Browser suggestion del input: */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--border) inset;
  -webkit-text-fill-color: #fafafa;
  transition: background-color 5000s ease-in-out 0s;
}

@supports (scrollbar-color: auto) {
  .custom-scrollbar {
    scrollbar-color: var(--color-muted-foreground) var(--color-card);
  }
}
