@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f8f8f8;
  --muted-foreground: #8f8f8f;

  --primary: #10243c;
  --secondary: #0186ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi-light: 'Satoshi', sans-serif;
  --font-satoshi-regular: 'Satoshi', sans-serif;
  --font-satoshi-bold: 'Satoshi', sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

body {
  font-family: 'Satoshi', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
